<!doctype html>
<html lang="en">
  <!--Header section-->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Welcome</title>
  </head>
  <!--Body Section-->
  <body style="background-color: #d8dde3;">
    <div class="container text-center" style="background-color: #d8dde3; font-family: 'Playfair Display'; padding-top: 6rem; padding-bottom: 5rem;">
        
      <div style="background-color: white; margin: 3%; text-align: left;" >
        <img src="https://i.ibb.co/zfGHFmV/Vlxs4rQ.png" alt="Vlxs4rQ" height="500px" style="width: 100%; padding-bottom: 5rem;">
        <h1 style="color: #1a459c; font-family: 'Anton', sans-serif; margin: 5%;"> Hi Joshy</h1>

        <div style="margin-left: 10%; margin-right: 10%; font-size: 20px;">
            {% if types == 'contact' %}
              <p style="padding-bottom: 1rem; font-size: 20px;">
                    name = {{ data.fname }} {{ data.lname }}   
              </p>
              <p style="padding-bottom: 1rem; font-size: 20px;">
                  email = {{ data.email }}   
              </p>
              <p style="padding-bottom: 1rem; font-size: 20px;">
                  phone = {{ data.phone }}   
              </p>
              <p style="padding-bottom: 1rem; font-size: 20px;">
                  message = {{ data.msg }}   
              </p>
            {% else %}
              <p style="padding-bottom: 1rem; font-size: 20px;">
                    name = {{ data.fname }} {{ data.lname }}   
              </p>
              <p style="padding-bottom: 1rem; font-size: 20px;">
                  email = {{ data.email }}   
              </p>
              <p style="padding-bottom: 1rem; font-size: 20px;">
                  phone = {{ data.phone }}   
              </p>
              <p style="padding-bottom: 1rem; font-size: 20px;">
                  projecttype = {{ data.projecttype }}   
              </p>
              <p style="padding-bottom: 1rem; font-size: 20px;">
                  budget = {{ data.budget }}   
              </p>
            {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>