<!doctype html>
<html lang="en">
  <!--Header section-->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Welcome</title>
  </head>
  <!--Body Section-->
  <body style="background-color: #d8dde3;">
    <div class="container text-center" style="background-color: #d8dde3; font-family: 'Playfair Display'; padding-top: 6rem; padding-bottom: 5rem;">
        
      <div style="background-color: white; margin: 3%; text-align: left;" >
        <img src="https://i.ibb.co/zfGHFmV/Vlxs4rQ.png" alt="Vlxs4rQ" height="500px" style="width: 100%; padding-bottom: 5rem;">
        <h1 style="color: #1a459c; font-family: 'Anton', sans-serif; margin: 5%;"> Welcome {{ name }},</h1>

        <div style="margin-left: 10%; margin-right: 10%; font-size: 20px;">
            <p>
              Welcome to Josh! dev. Finally you find me! Congrats. Now you are on my favourite list.I am a highly motivated data scientist 
              and developer with a goal-driven work ethic.
            </p>
            <p style="padding-bottom: 3rem;">
              I am <a href="#" style="text-decoration: none;">JOSHY JOY</a>, 2019 passout Computer Science
              Graduate student. I develop full-stack software in python including Dynamic Web pages, REST 
              API, Machine learning models, Deep Neural Networks and Data analysis dashboards.
            </p>
            <div style="padding-bottom: 3rem; text-align: center;">
              <button style="background-color: #1a459c; border: none;"><a href="#" style="color: white; text-decoration: none; margin: 1rem;">Get My Resume</a></button>
              <button style="background-color: #1a459c; border: none;"><a href="#" style="color: white; text-decoration: none; margin: 1rem;">Hire Me</a></button>
            </div>
            <hr>
            <div style="text-align: center; padding-top: 0.5rem; padding-bottom: 5rem;">
              <h3 style="padding-bottom: 1rem;">Follow Me</h3>
              <p class="text-center">
                  <a href="https://www.facebook.com/Enne.veruthe.vittere" target="_blank" style="padding: 1rem; text-decoration: none;">facebook</a>
                  <a href="https://www.instagram.com/jo_josh.y/" target="_blank" style="padding: 1rem; text-decoration: none;">Instagram</a>
                  <a href="https://www.linkedin.com/in/joshy-joy/" target="_blank" style="padding: 1rem; text-decoration: none;">Linkedin</a>
                  <a href="https://github.com/joshy-joy" target="_blank" style="padding: 1rem; text-decoration: none;">Github</a>
              </p>
            </div>

        </div>
      </div>
      <p style="text-align: center;"><a href="#">Unsubscribe</a> from the list</p>
    </div>
  </body>
</html>