<div class="jumbotron">
    <div class="container">
        <a href="/dashboard" style="text-decoration: none; color: black;">
            <h1 class="display-3">Admin Panel</h1>
        </a>
        <hr>
        <p>
            <a class="btn btn-primary btn-md" href="/add-blog" role="button" style="border-radius: 0; margin-top: 0.5rem;">Blog post+</a>
            <a class="btn btn-primary btn-md" href="/add-project" role="button" style="border-radius: 0; margin-top: 0.5rem;">Portfolio+</a>
            <a class="btn btn-primary btn-md" href="/add-user" role="button" style="border-radius: 0; margin-top: 0.5rem;">User+</a>
            <a class="btn btn-primary btn-md" href="/notification" role="button" style="border-radius: 0; margin-top: 0.5rem;">Notifications+</a>
            <a class="btn btn-primary btn-md" href="/admin" role="button" target="_blank" style="border-radius: 0; margin-top: 0.5rem;">Database</a>
        </p>
    </div>
</div>
<br>